/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# RubyMine
/.idea

# Rails Example
/rails-example/db/*.sqlite3
/rails-example/tmp
/rails-example/log

Gemfile.lock
Gemfile.local
