/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# RubyMine
/.idea

# Ruby Version
.ruby-version
.ruby-gemset
.tool-versions

# Rails Examples
/rails*-example/db/*.sqlite3
/rails*-example/tmp
/rails*-example/log
/rails*-example/node_modules

*.lock
Gemfile.local
