/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# RubyMine
/.idea

# Ruby Version
.ruby-version

# Rails Example
/rails-example/db/*.sqlite3
/rails-example/tmp
/rails-example/log

# Rails 6 Example
/rails6-example/db/*.sqlite3
/rails6-example/node_modules
/rails6-example/log
/rails6-example/tmp

Gemfile.lock
Gemfile.local
