version: '3.1'

services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database_consistency_test
    ports:
      - "5432:5432"
